<!doctype html>
<html lang="en">
  <head>
    <title>Massage Spa Reviews Web Design</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-sm sticky-top">
            <a class="navbar-brand" href="/">emiri chan</a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"/>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link mx-2" href="/">work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2" href="https://www.dropbox.com/s/wfc3d9fhn5dg5qd/Emiri%20Chan%20Resume.pdf?dl=1">resume</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container">
            <div class="row justify-content-center bottom-buffer-10">
              <h2>web design</h2>
            </div>
            <div class="row justify-content-center">
              <div class="col-5">
                <%= image_tag("/assets/massage/Therapists_main2.png", {class: "img-fluid"} ) %>
              </div>
              <div class="col-3">
                <ul>
                  <li>designed spa website for spa directors to request massage therapists</li>
                  <li>spa directors can manage therapists who come to their spa</li>
                  <li>better feedback tools and control over their favorite and blocked therapists</li>
                </ul>
              </div>
            </div>
            <div class="row justify-content-center top-buffer-20">
              <div class="col-8">
                <h3>Problem</h3>
                <p>I lead the design for the spa website, a portal where spa directors can request massage therapists to work at their spa when they need extra help. As spa directors like to build relationships with these therapists, one of their biggest needs was the ability to manage and maintain their entourage of therapists who visit their spa.</p>
                <h3>Spa Questionnaire Results</h3>
                <%= image_tag("/assets/massage/group-3.png", {class: "img-fluid bottom-buffer-40"} ) %>
                <p class="bottom-buffer-20">What are some of the challenges at your spa?</p>
                <h4>Getting the right, dependable therapists</h4>
                <h4>Having therapists that meet our standards</h4>
                <h3>Spa Interviews</h3>
                <p>I conducted onsite interviews with spa directors to understand how spas operate. It’s sometimes difficult to find spas that are willing to spend time to test features, so I started creating a focus group with these group of spas that I could rely on for quick feedback for new features.</p>
                <%= image_tag("/assets/massage/spaquotes.png", {class: "img-fluid top-buffer-40 bottom-buffer-20"} ) %>
                <h3>Features</h3>
                <h4>Better visibility with favorite therapists</h4>
                <p>Spa directors can see a list of their favorited therapists, separate from the therapists that came to their spa. I added some icons that tell them which therapists have attended an orientation session at their spa before (graduation cap). The list is filtered to therapists who came to their spa within the past 90 days.</p>
                <%= image_tag("/assets/massage/Therapists_main2.png", {class: "img-fluid top-buffer-40 bottom-buffer-40"} ) %>
                <h4>Leaving feedback for therapists</h4>
                <p>I added an option for spa directors to leave feedback for therapists without favoriting or blocking them. This allows therapists to receive feedback if they were just running a few minutes late, or wearing the wrong dress code while allowing them to come back to the spa.</p>
                <%= image_tag("/assets/massage/feedback1.png", {class: "img-fluid top-buffer-40 bottom-buffer-20"} ) %>
                <%= image_tag("/assets/massage/feedback2.png", {class: "img-fluid top-buffer-20 bottom-buffer-40"} ) %>
                <h4>Blocking therapist from future appointments</h4>
                <p>If a therapist is blocked from a spa, there is a possibility that these therapists were already booked for appointments in the future. Spa directors would be able to rebook any appointments in the future with a different therapist. This alerts spas that they may have some bookings in the near future that need another therapist.</p>
                <%= image_tag("/assets/massage/blocking1.png", {class: "img-fluid top-buffer-40 bottom-buffer-20"} ) %>
                <%= image_tag("/assets/massage/blocking2.png", {class: "img-fluid top-buffer-20 bottom-buffer-20"} ) %>
                <%= image_tag("/assets/massage/blocking3.png", {class: "img-fluid top-buffer-20 bottom-buffer-20"} ) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
