<!doctype html>
<html lang="en">
  <head>
    <% @title="Emiri Chan | PedalPal" %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body class="case-study">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-sm sticky-top">
            <a class="navbar-brand" href="/">emiri chan</a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"/>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link mx-2" href="/">work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2" href="https://www.dropbox.com/s/wfc3d9fhn5dg5qd/Emiri%20Chan%20Resume.pdf?dl=1">resume</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container">
            <div class="row justify-content-center bottom-buffer-10">
              <h2>mobile app design</h2>
            </div>
            <div class="row justify-content-center top-buffer-10">
              <h1>pedalpal</h1>
            </div>
            <div class="row justify-content-center clear-top-buffer">
              <div class="col-2">
                <g id="location-scroller">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <line id="location-line" x1="8" x2="8" y1="0"/>
                    <circle r="4" id="location-marker" cx="8" cy="0"/>
                    <circle r="5" class="dummy-circle" cx="8"/>
                  </svg>
                </g>
              </div>
              <div class="col-5">
                <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/pedalpal/pedalpalhome.png", { class: "img-fluid" } ) %>
              </div>
              <div class="col-2"></div>
              <div class="col-3">
                <ul>
                  <li>designed mobile app for biking that would navigate students around campus</li>
                  <li>conducted in-depth UX interviews with cornell students</li>
                  <li>developed persona and set of requirements</li>
                  <li>designed high fidelity mock up using sketch</li>
                  <li>software used: balsamiq, sketch</li>
                </ul>
              </div>
            <div class="row justify-content-center top-buffer-20">
              <div class="col-8">
                <h3>My Role</h3>
                <p>I was part of a team of 6 designers at Cornell University. We created a biking mobile application as part of Human Computer Interaction class. I was responsible for working on all aspects of the design process. I was interested in working on this project because as a driver, pedestrian, and cyclist in Ithaca, I've seen dangerous road conditions and knew there was potential to improve biking conditions in Ithaca. In this case study, I've highlighted areas where I was specifically responsible.</p>
                <h3>Goals</h3>
                <p>We started the project from scratch. We needed to understand the problems of our users, brainstorm ideas, and design low, medium, and high fidelity prototypes.</p>
                <h3>Discovery</h3>
                <p>Our main participants are bikers from the Ithaca and Cornell University community between the ages of 20-35. Four participants were Cornell students, one participant was a Cornell alumnus, and one participant was a Cornell staff member. Five participants were female and one was male. We conducted in depth interviews by asking questions about their biking habits around campus. We asked questions about their biking habits, safety precautions, and their motivations for biking. Some of the questions we asked were:</p>
                <ul>
                  <li>What measures do you currently take in terms of bike safety?</li>
                  <ul>
                    <li>How often do you wear a helmet?</li>
                    <li>How often do you use hand signals when turning?</li>
                    <li>What do you usually do when you get to an intersection?</li>
                  </ul>
                  <li>What was your last encounter with a car? [whether a serious accident or just cutting it a little too close]</li>
                </ul>
                <h3>Personas</h3>
                <p>After gathering interview responses, we developed an affinity diagram that took points from our interviewee's responses and separated them into different categories, like where they ride, why they ride, support they receive in accidents, and benefits from riding. Based on the diagram, we created a persona. I created a narrative and story about a students background and her life:</p>
                <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/pedalpal/persona.png", { class: "img-fluid top-buffer-40 bottom-buffer-20" } ) %>
                <h3>Requirements</h3>
                <p>After interviewing students, we created requirements for the application. The requirements were to:<br><br></p>
                <ul>
                  <li> Create a mobile accessible tool for bikers </li>
                  <li>Optimize the biker’s route by providing instructions to minimize the number of hills.</li>
                  <li>Provide warnings about road conditions.</li>
                  <li>Find friends to bike with at night.</li>
                </ul>
                <h3>Storyboarding</h3>
                <p>We developed storyboards that drew how a user may interact with our app. Below is my storyboard:</p>
                <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/pedalpal/storyboard.jpg", { class: "img-fluid top-buffer-40 bottom-buffer-20" } ) %>
                <h3>Heuristic Evaluation </h3>
                <p> After creating medium fidelity mockups, we did a heuristic evaluation where we found problems in the design. I created heuristic evaluations and developed solutions to incorporate into our high fidelity app.</p>
                <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/pedalpal/heuristic.png", { class: "img-fluid top-buffer-40 bottom-buffer-20" } ) %>
                <h3>Design </h3>
                <p>I designed the homepage, friends list, and importing contacts screen for the high fidelity mock ups. We incorporated them into InVision.</p>
                <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/pedalpal/samplescreens.png", { class: "img-fluid" } ) %>
                <p>
                  I liked being able to part of the whole design process, from start to finish. It was a semester project, so next time, I would like to have more time to gather more user testing after we created the high fidelity prototype. I had a great team though, and everyone's enthusiasm and diligence throughout made this project really enjoyable.
                  <br>
                  <br>
                  Project Members: Laura Caruso, Aimee Slupski, Bing Weng, Sam Kitterman, Rachel Goffin
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
