<!doctype html>
<html lang="en">
  <head>
    <% @title="Emiri Chan | Rebranding" %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body class="case-study">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-sm sticky-top">
            <a class="navbar-brand" href="/">emiri chan</a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"/>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link mx-2" href="/">work</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2" href="https://www.dropbox.com/s/wfc3d9fhn5dg5qd/Emiri%20Chan%20Resume.pdf?dl=1">resume</a>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container">
            <div class="row justify-content-center bottom-buffer-10">
              <h2>rebranding</h2>
            </div>
            <div class="row justify-content-center">
              <div class="col-2">
                <g id="location-scroller">
                  <svg xmlns="http://www.w3.org/2000/svg">
                    <line id="location-line" x1="8" x2="8" y1="0"/>
                    <circle r="4" id="location-marker" cx="8" cy="0"/>
                    <circle r="5" class="dummy-circle" cx="8"/>
                  </svg>
                </g>
              </div>
              <div class="col-5">
                <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/vd-coverphoto.png", {class: "img-fluid"} ) %>
              </div>
              <div class="col-3">
                <ul>
                  <li>created visual design based on rebranding from creative agency</li>
                  <li>updated look to be simpler and cleaner</li>
                  <li>added stylistic changes and ui improvements</li>
                </ul>
              </div>
              <div class="col-2"></div>
            </div>
            <div class="row justify-content-center top-buffer-20">
              <div class="col-8">
                <h3>Rebranding</h3>
                <p>
                  We are currently undergoing a rebranding to create a more identifiable brand. We worked with an outside creative agency that created a new logo, established brand colors and new fonts.
                  <br>
                  Our design team worked on implementing the branding for our products. I specifically worked on implementing on our in-home android app and for our spa website.
                </p>
                <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/rebranding-colors.png", {class: "img-fluid top-buffer-40 bottom-buffer-20"} ) %>
                <h3>Booking Flow</h3>
                <p>
                  Wellness, the theme of our brand, is meant to capture a simple, modern, clutter free feel. I made the design flatter and reduced padding on the card layout to increase screen real estate.
                  <br>
                  I incorporated some stylistic changes, including reducing a couple of buttons that were redundant on the screen. Below is the main booking request flow, where customers can specify their preferences as they book a massage.
                </p>
                <h4 class="top-buffer-20">Home screen</h4>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/home-screen.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/home.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                </div>
                <h4 class="top-buffer-20">Booking an appointment</h4>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/old-your-appointment.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <figure class="figure">
                      <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/book-your-appointment.png", {class: "img-fluid bottom-buffer-20"} ) %>
                      <figcaption class="figure-caption">Expanded the card layout to fit the entire screen and removed hero image to maximize screen real estate.</figcaption>
                    </figure>
                  </div>
                </div>
                <h4 class="top-buffer-20">Review massage and select pricing</h4>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/old-review-massage.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <figure class="figure">
                      <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/review-massage.png", {class: "img-fluid bottom-buffer-20"} ) %>
                      <figcaption class="figure-caption">Removed the Code? button to match with the iOS app. Users can add promo codes by hitting the payment button.</figcaption>
                    </figure>
                  </div>
                </div>
                <h4 class="top-buffer-20">Massage pending screen</h4>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/old-massage-pending.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <figure class="figure">
                      <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/hangtight.png", {class: "img-fluid bottom-buffer-20"} ) %>
                      <figcaption class="figure-caption">While users are waiting for their massage appointent to be confirmed, their massage details are organized in an easy to read format.</figcaption>
                    </figure>
                  </div>
                </div>
                <h4 class="top-buffer-20">Massage confirmed screen</h4>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/old-confirmed-massage.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <figure class="figure">
                      <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/my_appointments-details.png", {class: "img-fluid bottom-buffer-20"} ) %>
                      <figcaption class="figure-caption">Deleted the “see dashboard” button that took them back to the main page. The back arrow leads them to the same screen.</figcaption>
                    </figure>
                  </div>
                </div>
                <h3>Account Screens</h3>
                <p>I made some UI changes to the account screens to improve the look and consistency throughout the app.</p>
                <h4 class="top-buffer-20">My account menu</h4>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/old-account-menu.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <figure class="figure">
                      <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/account-menu.png", {class: "img-fluid bottom-buffer-20"} ) %>
                      <figcaption class="figure-caption">Added some padding and extra height to the credit information because it is not a link. Also changed the header to allow you to go back to the main menu. It’s unclear in the original screen that you are in the account settings.</figcaption>
                    </figure>
                  </div>
                </div>
                <h4 class="top-buffer-20">Prioritizing therapists screen</h4>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/old-my-therapist-selected.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <figure class="figure">
                      <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/my-therapists-unselected.png", {class: "img-fluid bottom-buffer-20"} ) %>
                      <figcaption class="figure-caption">Added some padding and space to the list of therapists to increase readability.</figcaption>
                    </figure>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/old-therapist-save.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <figure class="figure">
                      <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/mytherapists-edit.png", {class: "img-fluid bottom-buffer-20"} ) %>
                      <figcaption class="figure-caption">Put the drag and drop on the right side of the screen to keep the priority ranking consistent in the edit and read screens.</figcaption>
                    </figure>
                  </div>
                </div>
                <h4 class="top-buffer-20">Edit addresses</h4>
                <div class="row">
                  <div class="col-6">
                    <%= image_tag("https://s3.amazonaws.com/emiriaoki/assets/images/rebranding/old-addresses.png", {class: "img-fluid bottom-buffer-20"} ) %>
                  </div>
                  <div class="col-6">
                    <figure class="figure">
                      <%= image_tag(asset_path("rebranding/addresses.png"), {class: "img-fluid bottom-buffer-20"} ) %>
                      <figcaption class="figure-caption">Added font treatments to the address labels to distinguish from actual address.</figcaption>
                    </figure>
                  </div>
                </div>
                <h3>Lessons Learned</h3>
                <p>
                  When we received the rebranding concept, the design team was given examples of print advertisements that were done in this style. We quickly realized that a big difference between print and product design is the use of color. While print advertising maximized the use of the new branding colors, it was more effective to use our branding to emphasize certain CTAs and information.
                  <br>
                  In the beginning, we tried to create a UI style guide by changing  the text fields, CTAs, and headers that were in our existing style guide. However when we put everything together in a screen, we realized that due to the boldness of our colors, sometimes the different components would clash. We took a bottom up approach by creating example screens and then incorporating the components into a style guide.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
